body {
  margin: auto;
  margin-top: -20px;
  padding: 0;
}

.total-area {
  width: 100%;
  margin: auto;
  padding: 0;
}

.main {
  width: 780px;
  margin: auto;
  text-align: left;
}

li {
  list-style: none;
}
