.list {
  width: 720px;
  margin: auto;
  margin-bottom: 50px;
  border-bottom: solid 1px #333333;
}

.list:last-child {
  border-bottom: none;
}

.book-info {
  width: 720px;
  display: flex;
}

.book-img {
  width: 200px;
}

.info {
  width: 500px;
  margin-left: 20px;
}

.comment {
  width: 720px;
}
